<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.launchexternalapp">
  <queries>
        <package android:name="sg.com.hsbc.hsbcsingapore" />
        <package android:name="com.dbs.sg.dbsmbanking" />
        <package android:name="sg.maybank.pmb" />
        <package android:name="com.ocbc.mobile" />
        <package android:name="com.citibank.mobile.sg" />
        <package android:name="com.uob.mighty.app" />
        <package android:name="com.dbs.sg.posbmbanking" />
        <package android:name="air.app.scb.breeze.android.main.sg.prod" />
  </queries>
</manifest>
